---
import bgImage from '../assets/images/Terra-Rossa-Papier.png';
import CtaLink from './CtaLink.astro';
import data from '../content/retreats-page.json';

const sectionData = data.imagineSection;
---

<section id="imagine-section"
  class="section bg-cover bg-center bg-no-repeat text-white text-center"
  style={`background-image: url(${bgImage.src});`}
>
  <div class="section-inner">
      <h2 style="font-family: 'EditorialOld', sans-serif; font-style: italic;" class="heading-main mb-6 text-white">
        {sectionData.heading}
      </h2>
      <div class="text-white body-text text-center max-w-3xl mx-auto space-y-4"
          style="font-family: var(--font-sans);">
          
          {sectionData.paragraphs.map(paragraph => (
            <p>{paragraph}</p>
          ))}

      </div>
      <CtaLink 
        label={sectionData.cta.label} 
        href={sectionData.cta.href} 
        color="white" 
      />
  </div>
</section>