---
import CtaLink from './CtaLink.astro';

const {
  image,
  title,
  date,
  location,
  buttonLabel = 'Mehr Infos',
  buttonHref = '#',
  imageShape = 'square',
  description,
} = Astro.props;

const shapeClass = imageShape === 'circle' ? 'rounded-full' : 'rounded-none';
---

<article class="flex flex-col bg-[var(--color-cream-bg)] overflow-hidden text-center items-center">
  <div class={`w-full aspect-square overflow-hidden ${shapeClass} mx-auto`}>
    <img
      src={image}
      alt={title}
      class="w-full h-full object-cover"
      loading="lazy"
      decoding="async"
    />
  </div>

  <div class="mt-6 w-full flex flex-col items-start gap-3">
    <h3
      style="font-family: 'EditorialOld', sans-serif; font-style: italic;"
      class="font-editorial text-3xl sm:text-2xl md:text-3xl lg:text-4xl leading-[1.2] mb-2 lg:mb-4 text-[var(--color-dark-brown)] min-h-[1.2em] text-left md:min-h-[2.4em] xl:min-h-[1.2em]">
      {title}
    </h3>

    <p
      class="font-garamond italic text-xl md:text-2xl leading-[1.2] text-[var(--color-dark-brown)] text-left line-clamp-2 min-h-[2.4em]">
      {date} {location && `– ${location}`}
    </p>

    <p
      class="font-sans text-dark-brown text-[14px] xs:text-[14px] md:text-[18px] leading-[1.4] text-left line-clamp-4 min-h-[5.6em] mb-2 xs:mb-4 lg:mb-4">
      {description}
    </p>

    <CtaLink
      label={buttonLabel}
      href={buttonHref}
      color="black"
    />
  </div>
</article>